#noticia h3, h4{
    text-align: center;
}

#noticia .contenedor{
    flex-wrap: wrap;
}

#noticia article{
    margin: 15px;
}

#noticia img{
    width: 100%;
    max-width: 500px;
}

#noticia{
    text-align:center;
}

#noticia a{
    text-decoration:none;
    color: black;
}

#noticia #facebook{
    font-size: 28px;
    color: #3b5998;
    margin-bottom:5px;
}

#noticia #twitter{
    font-size: 28px;
    color: #1da1f2;
    margin-bottom:5px;
}