.botonGaleria {
	-moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
	background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
	background-color:#f9f9f9;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:65px;
	line-height:30px;
	width:90%;
	text-decoration:none;
	text-align:left;
	text-shadow:1px 0px 0px #ffffff;
        text-indent: 5px;
        cursor: pointer;
}
.botonGaleria:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
	background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
	background-color:#e9e9e9;
}.botonGaleria:active {
	position:relative;
	top:1px;
}

#galeriaCiclob{
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: none;
}

#galeriaCiclogm{
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: none;
}

#galeriaCiclogs{
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: none;
}

input{
    margin: 10px;
}

@media (min-width:400px){
    
    .botonGaleria{
        line-height:65px;
    }
    
}